<div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
  <div>
    <div class="d-flex flex-justify-between flex-items-start mb-1">
      <h1 class="f4 lh-condensed mb-1">
        <a href="{{ pub.url }}">
          {{ pub.name }}
        </a>
      </h1>
    </div>
    <div class="text-gray-dark mb-2 ws-normal">{{ pub.authors }}</div>
    <div class="text-gray mb-2 ws-normal">{{ pub.venue }}</div>

    {% if pub.description %}
        <div class="text-red mb-2 ws-normal">{{ pub.description }}</div>
    {% endif %}

  </div>
  <div class="d-flex f6">
  </div>
</div>
